.disclaimer {
  font-style: italic;
  font-size: 14px;
}
h1 {
  margin-bottom: 0.75em;
}
#content, #home, #settings, #instructions, #upload, #questions, #download {
  min-height: 450px;
}
#home img {
  float: left;
  margin: 3em;
}
#home ul {
  list-style-type: none;
}
#home ul li {
  margin: 1em;
  min-width: 150px;
}
#settings p {
  margin: 1em auto 0.25em;
}
#settings input {
  margin: auto 0.5em auto 1.5em;
}
.back, .next {
  margin-top: 1em;
}
.next {
  float: right;
}
