.disclaimer {
  font-style: italic;
  font-size: 14px;
}
#secret-container h1 {
  margin-bottom: 0.75em;
}
#secret-container #content {
  min-height: 400px;
}
#secret-container #home-img {
  float: left;
  margin: 3em;
}
#secret-container #button-list {
  list-style-type: none;
}
#secret-container #button-list li {
  margin: 1em;
  min-width: 150px;
}
