.disclaimer {
  font-style: italic;
  font-size: 14px;
}
h1 {
  margin-bottom: 0.75em;
}
#content, #home, #settings, #instructions, #upload, #questions, #download {
  min-height: 450px;
}
#home img {
  float: left;
  margin: 3em;
}
#home ul {
  list-style-type: none;
}
#home ul li {
  margin: 1em;
  min-width: 150px;
}
#settings p {
  margin: 1em auto 0.25em;
}
#settings input {
  margin: auto 0.5em auto 1.5em;
}
.back, .next {
  margin-top: 1em;
}
.next {
  float: right;
}
#upload, #questions, #download {
  max-width: 1000px;
  margin: auto;
}
#upload input, #upload strong {
  width: 100%;
  margin: 0.5em 3em;
}
#download button:first-of-type {
  margin: 2px 50%;
}

@media screen and (max-width: 768px) { 
  main {
	margin: 5px;
    width: 100%;
  }
  #home img {
    margin: 5px;
    max-width: 100%;
    height: auto;
  }
  #home ul li {
    margin: 5% auto;
    width: 100%;
    text-align: center;
  }
}

.visually-hidden {
  visibility: hidden !important;
}