/* Variables/overrides */
:root {
  --bg-color: #e7d0c4;
  --text-color: #865b49;
  --accent-color: #442827;
  --accent-text-color: #f3e8df;
  --button-hover-text-color: #f3e8df; /*The nav, and potentially other buttons, have colors opposite to global theme, so they get messed up when themes are swapped*/
  --global-margin: auto 7em;
  --global-radius: 10px;
  --global-fade: 0.3s ease;
  --font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /*from bootstrap*/
  --disabled-bg: color-mix(in srgb, var(--accent-color) 70%, var(--bg-color) 30%);
  --disabled-text: color-mix(in srgb, var(--text-color) 20%, var(--accent-text-color) 80%);
}

/* Generic/global styles */
html {
  height: 100%;
}
body {
  font-family: var(--font);
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
main {
  margin: var(--global-margin);
  flex: 1;
}
/*     Headings */
h1 {
  font-weight: 600;
  font-size: 36px;
}
h2 {
  font-weight: 600;
  font-size: 28px;
}
/* Header & footer appearance*/
header,
footer {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-size: 18px;
}
header {
  margin-bottom: 20px;
}
nav a,
footer a {
  color: var(--accent-text-color);
  text-decoration: none;
}
nav ul li,
footer ul li {
  display: inline-block;
}
nav ul,
footer ul {
  list-style-type: none;
}
.nav-item,
.footer-item {
  padding: 0.25em 3em;
  margin: 0;
  border-left: 1px solid var(--text-color);
  line-height: 25px;
  flex: 1;
}
.nav-item:hover,
.footer-item:hover {
  background-color: var(--text-color);
  border-radius: 5px;
  padding: 0.5em 2.96em; /* specific number in an attempt to fix the jitter from the font size change */
  transition: var(--global-fade);
  font-weight: 600;
  color: var(--button-hover-text-color);
}
/* Navbar positioning */
nav {
  padding: 15px 50px 15px;
  display: grid;
  align-content: center;
  max-width: 100%;
  grid-template-columns: 425px 1fr 65px;
  background-color: var(--accent-color);
}
nav ul,
nav li {
  display: flex;
  border-collapse: collapse;
}
#title {
  font-size: 32px;
  font-weight: 600;
  padding: 0 40px;
  line-height: 60px;
}
#dark-mode {
  padding: 9px 15px;
  border-radius: 50px;
  margin-right: auto;
  max-width: 60px;
}
/* Dark mode button appearance */
#dark-mode {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  border: none;
  font-size: 28px;
}
#dark-mode:hover {
  background-color: var(--accent-text-color);
  color: var(--accent-color);
  cursor: pointer;
  transition: 0.6s ease;
}
/* Footer */
footer {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 50px;
}
footer ul,
footer li {
  display: flex;
  border-collapse: collapse;
}
.footer-left,
.footer-right {
  margin: 30px;
  max-height: 2em;
}
/* Buttons */
button,
.link-button {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-size: 18px;
  font-family: var(--font);
  font-weight: 500;
  border: 0;
  padding: 8px;
  border-radius: var(--global-radius);
  border: 2px solid var(--accent-color);
  cursor: pointer;
}
.link-button {
  line-height: 40px;
  text-decoration: none;
}
button:hover,
.link-button:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
  border: 2px solid var(--text-color);
}
button:active,
.link-button:active {
  background-color: var(--text-color);
  color: var(--accent-text-color);
  border: 2px solid var(--accent-text-color);
}
button:disabled,
.link-button:disabled {
  cursor: not-allowed;
  background-color: var(--disabled-bg);
  color: var(--disabled-text);
  border: 2px solid var(--disabled-bg);
}
/* RWD */
@media (max-width: 1220px) {
  :root {
    --global-margin: auto 3em;
  }
  h1,
  h2 {
    text-align: center;
  }
  nav {
    place-content: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  #title {
    margin: auto;
    grid-column: 1 / span 2;
  }
  nav ul {
    margin-left: auto;
  }
  #dark-mode {
    margin-right: auto;
    margin-left: 40px;
  }
  .nav-item {
    border-left: 0;
    border-right: 1px solid var(--text-color);
  }
  main {
    display: block;
  }
}

@media (max-width: 825px) {
  :root {
    --global-margin: auto 1em;
  }
  body {
    display: block;
    width: 825px;
  }
}

@media (max-width: 499px) {
  :root {
    --global-margin: auto 0.75em;
  }
  body {
    display: block;
    max-width: 500px;
    min-width: 320px;
    font-size: x-large;
  }
  main {
    display: block;
  }
  .nav-item,
  .footer-item,
  .nav-item:hover,
  .footer-item:hover {
    padding: 0.25em 0.5em;
    margin-top: 0.5em;
  }
  #dark-mode {
    margin-left: 0.5em;
  }
  header,
  footer {
    font-size: x-large;
  }
  footer {
    max-height: fit-content;
    display: block;
  }
  .footer-left {
    display: block;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  .footer-right {
    padding-bottom: 40px;
  }
  #first-footer-link {
    padding-left: 20px;
    border-left: 0;
  }
}
