/* Variables/overrides */
:root {
  --bs-body-bg: #e7d9c6;
  --bs-secondary-color: rgb(var(--secondary-color-rgb));
  --secondary-color-rgb: 122, 77, 62;
  --bs-body-color: #573428;
  --bs-emphasis-color-rgb: var(--bs-body-color);
  --hover-color: #f3ede3;
  --accent-color: #c2a591;
  --bs-border-color: rgba(var(--secondary-color-rgb), 0.6);
  --bs-link-color: #f15416;
}

@media (max-width: 70em) {
  :root {
    --global-margin: 2em;
  }
  .title {
    margin: 0;
  }
  footer ul {
    margin-right: 5em;
    margin-bottom: 1em;
  }
}
@media (min-width: 70.01em) {
  :root {
    --global-margin: 7em;
  }
  .title {
    margin: 0 0.5em 0 3em;
  }
  footer ul {
    margin-right: var(--global-margin);
  }
}

/* Header */
header {
  background-color: var(--accent-color);
  font-size: 18px;
}
nav ul {
  margin-top: 30px;
}
header svg {
  margin-right: 0.3em;
}
.title {
  font-size: 32px;
  font-weight: 600;
}
.nav-link {
  color: var(--bs-secondary-color);
  font-weight: 600;
}
.nav {
  --bs-nav-link-hover-color: var(--hover-color);
}

/* Body */
main {
  margin: 3em var(--global-margin);
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrapper {
  flex: 1;
}
.card-thumbnail {
  width: 100%;
  height: 12vw;
  object-fit: cover;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}
.featured-img {
  max-width: 100%;
  border-radius: 0.375rem;
  border: 4px solid rgb(var(--secondary-color-rgb));
}

/* Buttons */
.btn-primary {
  --bs-btn-bg: rgb(var(--secondary-color-rgb));
  --bs-btn-color: #fff;
  --bs-btn-border-color: rgb(var(--secondary-color-rgb));
  --bs-btn-hover-border-color: rgb(var(--secondary-color-rgb));
  --bs-btn-hover-color: rgb(var(--secondary-color-rgb));
  --bs-btn-hover-bg: rgba(255, 255, 255, 0);
  --bs-btn-active-bg: #573428;
  --bs-btn-active-border-color: #573428;
}
.btn-secondary,
.btn-outline-secondary {
  --bs-btn-bg: rgba(255, 255, 255, 0);
  --bs-btn-color: rgb(var(--secondary-color-rgb));
  --bs-btn-border-color: rgb(var(--secondary-color-rgb));
  --bs-btn-hover-border-color: rgb(var(--secondary-color-rgb));
  --bs-btn-hover-bg: rgb(var(--secondary-color-rgb));
}

/* Footer */
footer {
  margin: 0;
  width: 100%;
  min-height: 60px;
  background-color: var(--accent-color);
}
footer div {
  margin-left: var(--global-margin);
}
#nexus:hover path, #proboards:hover path {
  fill: var(--bs-body-bg) !important
}
#cat-svg {
  margin-right: 10px;
}

/* List Group */
#first-recent-mod {
  border-top-right-radius: 0.375rem;
  border-top-left-radius: 0.375rem;
}
.list-group-item-action:not(.active):focus,
.list-group-item-action:not(.active):hover {
  color: var(--bs-body-color);
  background-color: var(--hover-color);
}

/* Album */
.album {
  margin-bottom: 5em;
}

/* For mobile to prevent list group from breaking */
@media (max-width: 50em) {
  body .col-md-8,
  body .col-md-4 {
    width: 100%;
  }
}
/* Small h2s on album cards*/
.card-title {
  font-size: 24px;
}
/* more distinct h3 */
.log-header {
  font-size: 20px;
  margin-top: 1em;
}

/* positioning */
.back-btn {
  margin-bottom: 1em;
}
.main-btn-text {
  margin-left: 0.3em;
  font-weight: 600;
  text-transform: uppercase;
}
.secondary-btn-text {
  margin-left: 0.3em;
  font-weight: 600;
}
.dl-btns {
  margin-bottom: 1em;
}

/* modal for bugs */
#bug-button {
  margin: 1em;
}










