<header class="p-3 mb-3 border-bottom">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <div class="title">
      <a href="https://catsquid17.github.io/cattails" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        <img src="./images/cat-svgrepo.svg" alt="Icon of a cat head">
        Catsquid's Cattails Stuff
      </a>
    </div>
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">My Mods</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="all-mods.html">All Mods</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Mod Creation</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="guide.html">Modding Guide</a></li>
          <li><a class="dropdown-item" href="tools.html">Modding Tools</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Misc</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="kitten-previewer.html">Kitten Pelt Previewer</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>
