<header>
  <nav>
    <span id="title"><a href="https://catsquid17.github.io/cattails">Catsquid's&nbsp;Cattails&nbsp;Stuff</a></span>
    <ul>
      <li><a class="nav-item" id="first-nav-link" href="https://catsquid17.github.io/cattails/mods/">My&nbsp;Mods</a></li>
      <li><a class="nav-item" href="https://catsquid17.github.io/cattails/guide/">Guide</a></li>
      <li><a class="nav-item" href="https://catsquid17.github.io/cattails/tools/">Tools</a></li>
      <li><a class="nav-item" id="last-nav-link" href="#">Misc</a></li>
    </ul>
    <button id="dark-mode" aria-label="Switch to dark mode">🌙</button>
  </nav>
</header>
