<!DOCTYPE php>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }} | Catsquid's Cattails Stuff</title>
    <link href="{{ page.path_level }}css/styles.css" rel="stylesheet" />
    <link href="{{ page.custom_css_path }}" rel="stylesheet" />
  </head>

  <body>
    {% include header.html %} {{ content }} {% include footer.html %}
    <script src="{{ page.path_level }}js/darkmode.js"></script>
  </body>
</html>
